body {
    font-family: var(--f-Base);
    background-color: #1b1f22;
    color: var(--c-Font);
    padding: 0;
    margin: 0;
   background-color: rgba(19, 21, 25, 1); 
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.HomePage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    &__header {
        padding-top: 15vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__wrap {
        margin: auto;
        position: relative;
        width: 95vw;
        height: 95vh;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid red;   */
    }
    &__logoWrap {
        display: inline-block;
        width: 100px;
        height: 100px;
    }
}

