body {
    font-family: var(--f-Base);
    background-color: #1b1f22;
    color: var(--c-Font);
    padding: 0;
    margin: 0;
   background-color: rgba(19, 21, 25, 1); 
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.HomePage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    &__header {
        padding-top: 15vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: all .75s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    }
    &__wrap {
        opacity: 1;
        margin: auto;
        position: relative;
        width: 95vw;
        height: 95vh;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: scale(1);
        transition: all .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
        /* border: 1px solid red;   */
    }
    &__logoWrap {
        display: inline-block;
        width: 100px;
        height: 100px;
    }
}

/* animation classes  */
/* the sequence animation
Bg
HomePage__wrap
Footer
HomePage__header
Content  */

.loading .HomePage__header {
    transform: translateY(100px); 
}


.loading .HomePage__wrap {
    transform: scale(.5);
    opacity: 0;
}