.Button {
  border: none;
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: "PT Sans";
  font-weight: 400;
  letter-spacing: 0.03rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.Button--big {
  width: 220px;
  height: 54px;
  font-size: 1.5rem;
}

.Button--normal {
  width: 190px;
  height: 46px;
  font-size: 1.25em;
}

.Button--small {
  width: 140px;
  height: 40px;
  font-size: 1.063em;
}

.Button--red {
  box-shadow: 0 0.125rem 0 rgb(203, 78, 68);
  background-color: rgb(226, 87, 76);
}

.Button--green {
  box-shadow: 0 0.125rem 0 rgb(55, 161, 142);
  background-color: rgb(61, 179, 158);
}

.Button--blue {
  box-shadow: 0 0.125rem 0 rgb(41, 152, 189);
  background-color: rgb(46, 169, 211);
}
