.ColorBox {
  position: relative;
  width: 100px;
  height: 98px;
  text-align: center;
  border-radius: 0.188rem;
  overflow: hidden;
}

.ColorBox__info {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ColorBox__name {
  opacity: 0.4;
  color: rgb(0, 0, 0);
  font-family: "PT Sans";
  font-size: 1.125rem;
  font-weight: 700;
}

.ColorBox__value {
  color: rgb(255, 255, 255);
  font-family: "PT Sans";
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

.ColorBox__shades {
  width: 100%;
  height: 100%;
  display: flex;
}

.ColorBox__shade {
  display: block;
  width: 50%;
  height: 100%;
}

.ColorBox__shade--dark {
  background: rgba(0, 0, 0, .1);
}

.ColorBox__shade--light {
  background: rgba(255, 255, 255, .2);
}
