.Form {
    overflow: hidden;
}

.Form__title {
    color: red;
}

.Form__actions {
    display: flex;
    justify-content: flex-start;
}
 .Form__actions .Form__field {
     /* todo: fix proble overlay button when width button over up 33% */
     /* border: 1px solid red; */
     width: 33%;
} 

/* modifires  */

.Form__field--half {
    display: flex;
    justify-content: space-between;
}