.ResumePart {
  margin-top: 2.6em;
  flex-basis: 400px;
  opacity: 0;
}

.Resume--open .ResumePart {
  animation: resumePartAppear 500ms ease-in 500ms forwards;
}

.ResumePart__partCategory {
  display: flex;
}

.ResumePart__partCategoryContentItem {
  color: rgba(255, 255, 255, .8);
  list-style: none;
  margin: 0;
}

.ResumePart__title {
  font-size: 2.6em;
  font-weight: 200;
  font-family: 'Museo300-Regular', Helvetica, sans-serif;
  color: rgba(255, 255, 255, .8);
  text-transform: capitalize;
}

.ResumePart__subTitle {
  font-size: 1.3em;
  font-weight: 200;
  line-height: 1.3em;
  font-family: 'Museo300-Regular', Helvetica, sans-serif;
  color: rgba(255, 255, 255, .8);
  text-transform: capitalize;
}

.ResumePart__link {
  color: rgb(153, 152, 99);
  text-decoration: none;
  text-transform: lowercase;
  transition: color 0.1s ease-in-out;
}

.ResumePart__link:hover {
  color: rgb(234, 233, 153);
}

.ResumePart__category {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.875em;
  color: rgba(255, 255, 255, .4);
}

.ResumePart__year {
  font-weight: 100;
  text-transform: capitalize;
  font-size: 0.875em;
  color: rgba(255, 255, 255, .4);
}

.ResumePart__info {
  color: rgba(255, 255, 255, .5);
  max-width: 340px;
}


@keyframes resumePartAppear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: .2;
  }
  20% {
    opacity: .4;
  }
  25% {
    opacity: .1;
  }
  30% {
    opacity: .5;
  }
  35% {
    opacity: .2;
  }
  50% {
    opacity: .6;
  }
  70% {
    opacity: .4;
  }
  90% {
    opacity: .8;
  }
  95% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
