 :root {
     --c-Logo: #fff;
 }
 
 .Logo {
     display: block;
     position: relative;
     margin: auto;
     width: 100%;
     height: 100%;

     &__svg {
         width: 100%;
         height: 100%;
     }
     
     &__Vas {
         fill: var(--c-Logo);
     }

     &__VG {
         fill: var(--c-Logo);
     }

     &__webDev {
         fill: var(--c-Logo);
     }

     &__hexagon {
        fill: none;
        stroke: var(--c-Logo);
        transform: matrix(0.1236,0,0,0.12353,104.10919,28.74235);
        &--shape1 {
            stroke-dasharray: 3950;
            stroke-dashoffset: -3950;
            animation: rotate-line1 3s infinite;
            transform-origin: 50% 50%;
        }
        &--shape2 {
            transform: matrix(0,1,-1,0,242.41,609.63);
            stroke-dasharray: 3950;
            stroke-dashoffset: -3950;
            animation: draw-hexagon-line 1s infinite;
        }

     }


 }


 /* animation classes */

 @keyframes draw-hexagon-line {
    from {
        stroke-dashoffset: -3950;
    }
    to {
        stroke-dashoffset: 0;
    }
 }

 @keyframes rotate-line1 {
    from {
        stroke-dashoffset: -3950;
        transform: rotate(0deg);
    }
    to {
        stroke-dashoffset: 0;
        transform: rotate(-360deg);
    }
 }
