 .Card {

    /*dev styles*/
    margin: 150px auto 0;

    /*end dev styles*/

    font-family: var(--f-Base, 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri);

     background-color: var(--c-Page, #ffffff);
     font-size: 16px;
     width: 354px;
     height: 566px;
     position: relative;
     text-align: center;
     box-shadow: 2px 2px 2px var(--c-H, #000);

     &__wrap {
        position: relative;
        padding: 20px;
        /*display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;*/
     }

     &__btn {
         float: right;
     }


     &__photo {
         margin: 30px auto 0;
         width: 163px;
         height: 163px;
         border-radius: 50%;
         overflow: hidden;
     }

     &__img {
         max-width: 100%;
     }

     &__header {
        margin-top: 48px;
     }
     &__name {
         padding: 0;
         margin: 0;
         font-size: 1.375em;
         font-weight: 700;
         text-transform: uppercase;
         color: var(--c-H, #000);
     }
     &__shortDescription {
         width: 200px;
         margin: 0 auto;
         padding: 0;
         margin-top: 49px;
         font-size: .75em;
         font-weight: 400;
         line-height: 1.5em;
     }
     &__footer {
         margin-top: 25px;
     }
     &__socIcons {
         list-style: none;
         padding: 0;
         margin: 0;
         text-align: center
     }
     &__socIconsWrap {
         display: inline-block;
         margin: 12px;
         width: 1.25em;
         height: 1.25em;
     }
     /*&__socIconLink {
     }
     &__socIcon {
     }
     &__socIcon--vk {
     }
     &__socIcon--gihub {
     }
     &__socIcon--twitter {
     }
     &__socIcon--fb {
     }*/
 }