.ReadMore {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 30px;
  color: rgba(234, 233, 153, .8);
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.470, 0.000, 0.745, 0.715); /* easeInSine */
  box-shadow: rgb(29, 26, 26);
}

.ReadMore::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border-bottom: 15px solid rgb(153, 152, 99);
  border-left: 15px solid transparent;
}
.ReadMore::after {
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  width: 15px;
  height: 15px;
  content: '';
  background: rgb(29, 26, 26);
}

.ReadMore:hover {
  background: rgba(29, 26, 26);
}

.ReadMore:hover::before {
  border-bottom: 15px solid rgb(29, 26, 26);
}

.ReadMore__text {
  position: absolute;
  top: 0;
  left:15px;
  height: 30px;
  padding: 0 10px;
  display: block;
  background: rgb(29, 26, 26);
}
