.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-vk {
  width: 1.0927734375em;
}

.icon-twitter {
  width: 0.9287109375em;
}

.icon-facebook {
  width: 0.587890625em;
}

.icon-github {
  width: 0.857421875em;
}

.icon-vk2 {
  width: 1.0927734375em;
}

.icon-twitter2 {
  width: 0.9287109375em;
}

.icon-facebook2 {
  width: 0.587890625em;
}
