.Footer {
   display: block;
   transform: translateY(0);
   opacity: 1;
   transition: all .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.loading .Footer {
    opacity: 0;
    transform: translateY(200px);
}