.Footer {
  background: rgb(32, 29, 29);
  padding: 19px 0;
  min-height: 150px;
  color: rgba(234, 233, 153, .6);
  max-width: 1020px;
  margin: 0 auto;
}

.Footer__container {
  margin: 0 auto;
  width: 90.66666666666667%; /* 340 / 375 */
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Footer__container > * {
  max-width: 200px;
}
