body, html {
  background-image: url('./img/bg.jpg');
  overflow-x: hidden;
}

.Main {
  display: block;
  position: relative;
  background: rgb(234, 233, 153);
  width: 100%;
  max-width: 1020px;
  min-height: 640px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.Main__container {
  position: relative;
  width: 90.66666666666667%; /* 340 / 375 */
  max-width: 800px;
  margin: 0 auto;
}

.Main__header, .Main__footer {
  position: relative;
  padding-top: 30px;
  width: 90.66666666666667%; /* 340 / 375 */
  max-width: 800px;
  margin: 0 auto;
  z-index: 100;
  min-height: 100px;
}

.Main::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 282px;
  height: 269px;
  content: '';
  background-image: url('./img/featured-label.png');
  background-repeat: no-repeat;
}

@media (min-width: 800px) {
  .Main::before {
    top: 19px;
    left: 19px;
  }
}
