.Main {
  display: block;
  position: relative;
  background: rgb(234, 233, 153);
  width: 100%;
  min-height: 640px;
  position: relative;
}

.Main__container {
  position: relative;
  width: 90.66666666666667%; /* 340 / 375 */
  /* for dev */ border: 1px solid green;
  margin: 0 auto;
}

.Main::before {
  content: '';
  position: absolute;
  width: 282px;
  height: 269px;
  background-image: url('./img/featured-label.png');
  background-repeat: no-repeat;
}
