@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700&subset=cyrillic');
/*@import url('https://fonts.googleapis.com/icon?family=Material+Icons');*/

:root{

    --c-Bg:                #c8d7d4;
    --c-Page:              #eeeeee;
    --c-BtnRound:          #828282;
    --c-LinkVisited:       #a9cdcd;
    --c-Accent:            #afa376;
    --c-BgDropDown:        #879999;
    --c-Font:              var(--c-BgDropDown);
    --c-LinkFooter:        #435555;
    --c-LinkVisitedFooter: #464d4b;
    --c-BgFooter:          #27282d;

    --f-Base:              'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}