.Header {
  min-height: 250px;
  position: relative;
  padding: 19px;
  color: rgba(233, 235, 232, .9);
  background: rgb(32, 32, 32);
}

.Header__title {
  font-family: 'Museo300-Regular', Helvetica, sans-serif;
  font-weight: 300;
  margin: 46px 0;
  color: rgb(255, 30, 70);
  text-transform: capitalize;
}

.Header__titleName {
  margin-top: .4em;
  font-weight: 200;
  display: block;
  font-size: .7em;
  position: relative;
  max-width: 768px;
  color: rgb(234, 233, 153);
}

.Header__rightContainer {
  margin-top: .4em;
  position: relative;
  right: 0;
  bottom: 0;
}

.Header__bio {
  max-width: 768px;
  color: rgb(22, 228, 201);
}

.Header__resumeBtn {
  color: rgba(234, 233, 153, .9);
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
}

.Header__resumeBtn:hover {
  color: rgba(234, 233, 153, .5);
}


@media (min-width: 320px) {
  .Header__rightContainer {
    position: absolute;
  }
}

@media (min-width: 800px) {
  .Header__container {
    width: 800px;
    margin: 0 auto;
  }
}
